<!doctype html5>
<head>
  <meta charset="UTF-8">
  <title>Hello Vue</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
  <script src="https://unpkg.com/vue@2.5.3/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div id="app">
    <div class="row" v-for="posts in processedPosts">
      <div class="columns medium-3 medium-6" v-for="post in posts">
        <div class="card">
          <div class="card-divider">
            {{ post.title }}
          </div>
          <a :href="post.url" target="_blank"><img :src="post.image_url" width="200px" height="200px"></a>
          <div class="card-section">
            <p>{{ post.outline }}</p>
          </div>
        </div>
      </div>
     </div>
  </div>

  <script src="./app.js"></script>
</body>
